
:root {
   /* Base Background Colors */
--bgn-primary:       #121116; 
--bgn-primary-low: #1211166A;
--bgn-primary-deep: #0C0B0E;
--bgn-secondary:     #18171A;
   
   /* Modals Background Colors */
   --modal-bgn-base:    #d3d1e214;
   --modal-bgn-medium:  #d3d1e20c;
   --modal-bgn-low:     #9b98b40b;
   --modal-bgn-exlow:   #7b79880b;

   /* Accent Colors */
--accent-blue: #595BE9; --accent-blue-low: #595be91a;
--accent-red:  #D85055; --accent-red-low:  #D850551A;
--accent-orange: #d87050; 
--accent-orange-low: #d870501A;
--accent-purple: #8050d8;
--accent-purple-low: #8050d81A;
--accent-green: #50d871; 
--accent-green-low: #50d8711A;
}