@charset "UTF-8";
/* PARCIALS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
:root {
  /* Base Background Colors */
  --bgn-primary: #121116;
  --bgn-primary-low: #1211166A;
  --bgn-primary-deep: #0C0B0E;
  --bgn-secondary: #18171A;
  /* Modals Background Colors */
  --modal-bgn-base: #d3d1e214;
  --modal-bgn-medium: #d3d1e20c;
  --modal-bgn-low: #9b98b40b;
  --modal-bgn-exlow: #7b79880b;
  /* Accent Colors */
  --accent-blue: #595BE9;
  --accent-blue-low: #595be91a;
  --accent-red: #D85055;
  --accent-red-low: #D850551A;
  --accent-orange: #d87050;
  --accent-orange-low: #d870501A;
  --accent-purple: #8050d8;
  --accent-purple-low: #8050d81A;
  --accent-green: #50d871;
  --accent-green-low: #50d8711A;
}

/* Blockquote & Callouts */
blockquote.model-1 {
  padding: 56px 26px 26px 29px;
  border-radius: 6px 16px 16px 6px;
  max-width: 900px;
  margin: 16px auto;
  position: relative;
}
blockquote.model-1::before {
  position: absolute;
  top: 20px;
  left: 26px;
  color: var(--font-secondary-color);
  font-size: var(--font-secondary-size);
  font-weight: bold;
}
blockquote.model-1::after {
  content: "";
  position: absolute;
  background: var(--modal-bgn-exlow);
  border-radius: 99px;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
}
blockquote.model-1 p {
  font-size: var(--font-small-size);
  color: var(--font-secondary-color);
  font-style: italic;
}

blockquote.tip.model-1 {
  background: var(--accent-blue-low);
}
blockquote.tip.model-1::before {
  content: "Tip";
  color: var(--accent-blue);
}
blockquote.tip.model-1::after {
  background: var(--accent-blue);
}

blockquote.note.model-1 {
  background: var(--accent-green-low);
}
blockquote.note.model-1::before {
  content: "Note";
  color: var(--accent-green);
}
blockquote.note.model-1::after {
  background: var(--accent-green);
}

blockquote.important.model-1 {
  background: var(--accent-orange-low);
}
blockquote.important.model-1::before {
  content: "Important";
  color: var(--accent-orange);
}
blockquote.important.model-1::after {
  background: var(--accent-orange);
}

/* Tags & Roles */
.tag.model-1 {
  display: inline-block;
  background: var(--modal-bgn-low);
  padding: 9px 16px;
  border-radius: 99px;
  border: 1px solid var(--modal-bgn-base);
  font-size: var(--font-small-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
}

.tag.blue {
  background: var(--accent-blue-low);
  color: var(--accent-blue);
}

.tag.orange {
  background: var(--accent-orange-low);
  color: var(--accent-orange);
}

.tag.purple {
  background: var(--accent-purple-low);
  color: var(--accent-purple);
}

.inline-link {
  display: inline-block;
  background: var(--modal-bgn-base);
  border: 1px solid var(--modal-bgn-base);
  border-radius: 99px;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
}
.inline-link:hover {
  animation: levitate 10s ease infinite;
  transform: translate(0, 6px);
  transition: all 0.3s ease;
}

.inline-link.blue {
  background: var(--accent-blue-low);
  border-color: var(--accent-blue-low);
  box-shadow: 0 0 16px var(--accent-blue-low), 0 0 19px var(--accent-blue-low), 0 0 24px var(--accent-blue-low);
}

.inline-link.red {
  background: var(--accent-red-low);
  border-color: var(--accent-red-low);
  box-shadow: 0 0 16px var(--accent-red-low), 0 0 19px var(--accent-red-low), 0 0 24px var(--accent-red-low);
}

.inline-url.active {
  color: var(--font-secondary-color);
  font-weight: 555;
}

.inline-url.disable {
  color: var(--font-terceary-color);
  position: relative;
  text-decoration: underline;
}
.inline-url.disable::after {
  transition: all 0.3s ease;
  content: "Sin Resultados";
  color: var(--font-secondary-color);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  backdrop-filter: blur(6px);
  background: var(--bgn-primary-low);
  box-shadow: inset 0 0 0 1px var(--modal-bgn-base);
  padding: 6px 9px;
  border-radius: 99px;
  white-space: nowrap;
  opacity: 0;
}
.inline-url.disable:hover::after {
  opacity: 1;
}

.card-gallery.model-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 260px;
  aspect-ratio: 1/1.19;
  border: 1.6px solid var(--modal-bgn-base);
  background: var(--modal-bgn-exlow);
  border-radius: 24px;
  overflow: hidden;
}
.card-gallery.model-1 .snippet-name {
  padding: 16px 49px 16px 16px;
  font-size: var(--font-small-size);
  font-weight: 555;
  background: var(--modal-bgn-low);
  border-bottom: 1.6px solid var(--modal-bgn-base);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-gallery.model-1 .card-image {
  display: flex;
  margin: auto;
  width: 94%;
  aspect-ratio: 1/1;
  background: var(--modal-bgn-base);
  box-shadow: inset 0 0 0 1px var(--modal-bgn-base);
  border-radius: 6px 6px 16px 16px;
  overflow: hidden;
}
.card-gallery.model-1 .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.9px solid var(--modal-bgn-base);
  border-radius: 6px 6px 16px 16px;
}
.card-gallery.model-1 .card-image img:hover {
  filter: brightness(1.02);
}

/* 
99s / №i * (№i * item) * -1
*/
@view-transition {
  navigate: auto; /* Enable */
}
@keyframes slide-rl /* Right to Left (rl) */ {
  to {
    left: -280px;
  }
}
@keyframes slide-lr /* Left to Right (lr) */ {
  to {
    right: -280px;
  }
}
@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-bottom {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animación de levitación con rotación */
@keyframes levitate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(-10px, -15px) rotate(-1deg) scale(1.02);
  }
  45% {
    transform: translate(-10px, 15px) rotate(-0.3) scale(1.06);
  }
  75% {
    transform: translate(10px, -6px) rotate(1deg) scale(0.96);
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}
@font-face {
  font-family: "trispace";
  src: url("../assets/fonts/trispace.ttf");
}
@font-face {
  font-family: "alfa-slap";
  src: url("../assets/fonts/alfa-slap-one.ttf");
}
@font-face {
  font-family: "passion";
  src: url(../assets/fonts/PassionOne-Regular.ttf);
}
@font-face {
  font-family: "passion-bold";
  src: url(../assets/fonts/PassionOne-Bold.ttf);
}
@font-face {
  font-family: "passion-black";
  src: url(../assets/fonts/PassionOne-Black.ttf);
}
/* Root ##########################################*/
:root {
  /* Font Sizes */
  font-size: 15.6px;
  --font-small-size: 0.8rem;
  --font-primary-size: 1rem;
  --font-secondary-size: 1.3rem;
  /* Headers Color */
  --cap-primary-color: #efeff0;
  --cap-secondary-color: #d4d4d8;
  --cap-terceary-color: #c1c1d6;
  --cap-fourth-color: #b2b2c0;
  /* Header Sizes */
  --cap-primary-size: 2.3rem;
  --cap-secondary-size: 1.9rem;
  --cap-terceary-size: 1.6rem;
  /* Font Colors */
  --font-primary-color: #e5e5e7;
  --font-secondary-color: #d0d0d4;
  --font-terceary-color: #696973;
  font-family: trispace;
}

/* Headers Format ################################*/
h1 {
  color: var(--cap-primary-color);
  font-family: "passion-black" !important;
  letter-spacing: 1px;
}

h2 {
  color: var(--cap-secondary-color);
  font-family: passion-bold;
  letter-spacing: 1px;
}

h3 {
  color: var(--cap-terceary-color);
  font-family: passion;
  letter-spacing: 0.6px;
}

h4 {
  color: var(--cap-fourth-color);
  font-family: passion;
  letter-spacing: 0.5px;
}

/* Paragraph Format ##############################*/
p.primary-text {
  font-size: var(--font-primary-size);
  margin: 6px 0;
}

p.secondary-text {
  font-size: var(--font-secondary-size);
}

p.small-text {
  font-size: var(--font-small-size);
}

/* Eyebrow Text (span) ###########################*/
.eyebrow {
  color: var(--font-terceary-color);
  margin: 3px 0;
}

.eyebrow-base {
  font-size: 20px !important;
  margin: 3px 0;
}

.eyebrow-low {
  color: var(--font-terceary-color);
  font-size: 14px;
  margin: 3px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.btn-base, .btn-base-2 {
  display: inline-block;
  background: var(--modal-bgn-medium);
  box-shadow: inset 0 0 0 1px var(--modal-bgn-base);
  padding: 4px;
  max-width: content-width !important;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  /* flex-shrink: 0; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-base:hover, .btn-base-2:hover {
  scale: 1.03;
  box-shadow: 0 2px 9px var(--modal-bgn-base), 0 3px 11px var(--modal-bgn-low), inset 0 0 0 1.3px var(--modal-bgn-low);
}
.btn-base:active, .btn-base-2:active {
  scale: 0.96;
  transition: scale 0.1s ease;
}

.btn-base {
  border-radius: 99px;
}

.btn-base-2 {
  border-radius: 9px;
}

.btn-base.is-disable, .btn-base-2.is-disable {
  background: var(--modal-bgn-exlow);
}
.btn-base.is-disable span, .btn-base-2.is-disable span {
  color: var(--font-terceary-color);
}

.btn-base.--cta, .btn-base-2.--cta {
  background: var(--accent-blue);
}

.btn-base.--intence, .btn-base-2.--intence {
  background: var(--accent-red);
}

.btn-base span, .btn-base-2 span {
  display: flex;
  justify-content: center;
  padding: 16px 19px;
  font-weight: 555;
  color: var(--font-primary-color);
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main {
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  padding: 0 0 0 clamp(200px, 350px, 30vw);
}

.navbar.ondesktop {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  min-width: 200px;
  max-width: 30vw;
  height: 100dvh;
  background: var(--bgn-secondary);
  border-right: 1px solid var(--modal-bgn-base);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 500;
}
.navbar.ondesktop::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  height: 110%;
  aspect-ratio: 1/1;
  background: radial-gradient(circle at center, var(--accent-blue) 3%, transparent) 6%;
  opacity: 16%;
  z-index: -1;
}

.gobefore {
  display: flex;
  width: 100%;
  padding: 24px 19px;
  border-bottom: 1px solid var(--modal-bgn-base);
  box-sizing: border-box;
}
.gobefore .btn-base-2 {
  width: 100%;
}

.link-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 19px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.link-area::-webkit-scrollbar {
  display: none;
}
.link-area .link-data {
  width: 100%;
  min-height: 150px;
  height: auto;
  padding: 180px 19px 19px 19px;
  background: var(--modal-bgn-base);
  box-shadow: inset 0 0 0 1px var(--modal-bgn-low);
  border-radius: 19px 19px 19px 6px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.link-area .link-data::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: var(--modal-bgn-base);
}
.link-area .link-data::after {
  content: "";
  position: absolute;
  left: 19px;
  top: 130px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/img/consts/itsame.webp");
  background-position: center;
  background-size: cover;
  background-cplor: var(--bgn-secondary);
  border: 1px solid var(--bgn-primary);
  opacity: 96%;
}
.link-area .link-data .small-text {
  margin: 0 0 16px 0;
  color: var(--font-secondary-color);
}
.link-area .link-data .btn-base-2 {
  width: 100%;
}

.link-data.to-bomven::before {
  background-image: url("../assets/img/project1/bolvencover2.webp");
}

.link-data.to-ibis::before {
  background-image: url("../assets/img/project1/ibiscover.webp");
}

.link-data.to-icons::before {
  background-image: url("../assets/img/project1/iconscover.webp");
}

.navbar.onmobile {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  background: var(--bgn-secondary);
  border-top: 1px solid var(--modal-bgn-base);
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 60px 0 0 0;
  z-index: 500;
}
.navbar.onmobile::before {
  content: "💬";
  position: relative;
  top: -39px;
  left: 48%;
}
.navbar.onmobile::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translate(0, 85%);
  width: 110%;
  aspect-ratio: 1/1;
  background: radial-gradient(circle at center, var(--accent-blue) 3%, transparent) 6%;
  opacity: 19%;
  z-index: -1;
}
.navbar.onmobile .gobefore, .navbar.onmobile .link-area {
  display: none;
  transition: all 0.3s ease 1s;
}
.navbar.onmobile:hover {
  height: 80dvh;
  padding: 0;
}
.navbar.onmobile:hover::after {
  width: 555%;
}

.navbar.onmobile:hover .gobefore,
.navbar.onmobile:hover .link-area {
  display: flex;
}

.navbar.onmobile:hover .link-area {
  padding-bottom: 200px;
}

.__block {
  width: 100%;
  min-height: 100dvh;
  box-sizing: border-box;
  border-bottom: 1px solid var(--modal-bgn-base);
}

.__block:last-child {
  padding-bottom: 90px;
}

@media (max-width: 630px) {
  main {
    padding: 0;
  }
  .navbar.ondesktop {
    display: none;
  }
}
@media (min-width: 630px) {
  .navbar.onmobile {
    display: none;
  }
}
.opening-cover {
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 500px;
  background: var(--modal-bgn-base);
  position: relative;
  mask-image: linear-gradient(to bottom, var(--bgn-primary) 10%, transparent);
  z-index: 100;
  overflow: hidden;
}
.opening-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.opening-title {
  font-size: var(--cap-primary-size);
  margin: -20px 19px 30px 10%;
  color: var(--cap-primary-color);
  z-index: 200;
  position: relative;
}
.opening-title::before {
  position: absolute;
  top: -96px;
  left: 0;
  font-size: 30px;
  background: var(--modal-bgn-base);
  border: 1px solid var(--modal-bgn-base);
  padding: 23px;
  border-radius: 16px;
  box-shadow: 0 0 19px var(--accent-blue-low);
  animation: levitate 20s ease infinite;
}

.opening-title.p1::before {
  content: "👨‍🚒";
}

.opening-title.p2::before {
  content: "📱";
}

.opening-title.p3::before {
  content: "😎";
}

.documentation {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 100%;
  padding: 30px 6% 30px 10%;
  box-sizing: border-box;
}
.documentation .intro-cap {
  position: relative;
  color: var(--font-secondary-color);
  font-size: var(--cap-secondary-size);
}
.documentation .intro-cap::before {
  content: "#";
  position: absolute;
  left: -20px;
  color: var(--accent-blue);
  opacity: 0;
  transition: all 0.3s ease;
}
.documentation .intro-cap:hover::before {
  opacity: 1;
}
.documentation .primary-text {
  font-size: var(--font-primary-size);
  color: var(--font-secondary-color);
  text-wrap: balance;
  max-width: 700px;
}

.set-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  gap: 9px;
}
.set-box .tag:first-child {
  rotate: 1deg;
  animation: levitate 20s ease infinite;
  box-shadow: 0 0 11px var(--accent-blue-low), 0 0 26px var(--accent-blue-low);
}
.set-box .tag:nth-child(2) {
  rotate: -6deg;
  animation: levitate 20.5s ease infinite 0.8s;
  box-shadow: 0 0 11px var(--accent-orange-low), 0 0 26px var(--accent-orange-low);
}
.set-box .tag:last-child {
  rotate: 1.2deg;
  animation: levitate 20.9s ease infinite 1s;
  box-shadow: 0 0 11px var(--accent-purple-low), 0 0 26px var(--accent-purple-low);
}

.display-gallery {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin: 24px 6% 24px 10%;
  background: var(--modal-bgn-exlow);
  border-radius: 24px;
  box-sizing: border-box;
}
.display-gallery .cap-message {
  background: var(--modal-bgn-base);
  max-width: 250px;
  min-width: 150px;
  box-shadow: inset 0 0 0 1px var(--modal-bgn-base);
  border-radius: 16px 16px 16px 6px;
  justify-self: flex-end;
  margin: 19px;
  padding: 19px;
}
.display-gallery .media-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 19px;
  gap: 16px;
}
.display-gallery .media-list a {
  display: flex;
  background: var(--modal-bgn-low);
  box-shadow: inset 0 0 0 1px var(--modal-bgn-base);
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 16px;
  box-sizing: content-box;
  cursor: pointer;
}
.display-gallery .media-list a img {
  width: 97%;
  height: 96%;
  object-fit: cover;
  border-radius: 12px;
  margin: auto;
}

/* Formatting XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  background-color: var(--bgn-primary);
  color: var(--font-primary-color);
  font-family: "trispace" !important;
}

/*# sourceMappingURL=style-projects.css.map */
